<div class="keyword-glossary-markdown-editor">
  <textarea
    class="keyword-glossary-markdown-editor__textarea"
    {{did-insert this.setup}}
    {{did-update this.syncValue @value}}
  >{{@value}}</textarea>
</div>
